<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR3OhxD7khmf19TGdIjPHi0wh1lMoELqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>94448931960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlocBp.staging</string>
	<key>PROJECT_ID</key>
	<string>boilerplatesample</string>
	<key>STORAGE_BUCKET</key>
	<string>boilerplatesample.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94448931960:ios:f4973a8a7dc4b0696e898d</string>
</dict>
</plist>